.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
  justify-items: center;
  align-items: center;
  padding: 25px 0;
}

.item {
}

.title {
  text-align: center;
  font-size: 18px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}
